.DS_Store

/junk/

/vendor/
movies/Olive Hilliard.mov

/visualisation/

/metrics/cache/

/gqldemo/vendor/
cache/Oryzomys-MSW.json
cache/Rhinolophidae-MSW.json
cache/Rhinolophus-MSW.json
cache/Sigmodontinae-MSW.json
js/d3/d3.v3.min.js
js/d3/map/japan.topojson
js/d3/map/world-50m.json
js/d3/topojson.v0.min.js
js/d3/topojson.v1.min.js
js/d3sparql.js
network/go.php
